/notebooks/pns2019.csv
# Ignorar arquivos grandes que não devem ser versionados
/data/raw/PNS_2019.txt
/data/database/pns_master_formatado.db
/data/raw/pns2019.csv

# Backups e lixo
archive/
*.jar
*.zip
.venv-1/

# Ignorar CSVs e bancos em qualquer lugar
*.csv
*.db

# Garantindo bloqueio de dados
*.csv
*.db
data/database/idosos_artrite_puro.db
data/database/idosos_artrite.db
data/database/idosos_geral.db
data/database/idosos_saudaveis.db
